@import './common/color.scss';
* {
    margin: 0;
    padding: 0;
}

 ::-webkit-scrollbar {
    width: 8px;
    background-color: $--color-gray;
}

 ::-webkit-scrollbar-thumb {
    background-color: $--color-deepGray;
    border-radius: 8px;
}

 ::-webkit-scrollbar-track {
    border-radius: 10px;
}

%btn {
    width: 40px;
    height: 25px;
    line-height: 25px;
    box-sizing: border-box;
    border: 1px solid $--color-gray;
    border-radius: 4px;
    user-select: none;
    font-size: 12px;
    &:hover {
        cursor: pointer;
        border-color: $--color-blue;
    }
}

%input {
    width: 100%;
    line-height: 26px;
    cursor: text;
    padding: 4px 11px;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid $--color-gray;
    border-radius: 5px;
    transition: all 0.35s ease-in-out;
}

.z-container {
    width: 320px;
    .input-container {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        .placeholder {
            color: $--color-deepGray;
        }
        .z-input {
            height: 35px;
            @extend %input;
            .input-display-value {
                color: $--color-lightBlack;
                width: 90%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        .z-label-input {
            display: flex;
            align-content: center;
            height: 100%;
            @extend %input;
            .z-label-content {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                width: 92%;
                .z-label {
                    display: flex;
                    align-items: center;
                    height: auto;
                    line-height: 20px;
                    padding: 0 7px;
                    border: 1px solid $--color-deepWhite;
                    box-sizing: border-box;
                    margin: 0 8px 4px 0;
                    background-color: $--color-lightWhite;
                    border-radius: 4px;
                    .delete-icon {
                        width: 14px;
                        height: 14px;
                        margin-left: 8px;
                        position: relative;
                        &::before,
                        &::after {
                            position: absolute;
                            left: 6px;
                            top: 3px;
                            content: "";
                            background-color: $--color-gray;
                            height: 10px;
                            width: 2px;
                        }
                        &::before {
                            transform: rotate(45deg);
                        }
                        &::after {
                            transform: rotate(-45deg);
                        }
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .close-icon {
            width: 16px;
            height: 16px;
            position: absolute;
            right: 8px;
            border: 1px solid $--color-gray;
            border-radius: 50%;
            &::before,
            &::after {
                position: absolute;
                left: 7px;
                top: 3px;
                content: "";
                background-color: $--color-gray;
                height: 10px;
                width: 2px;
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
            &:hover {
                transform: scale(1.2);
                cursor: pointer;
            }
        }
    }
    .textarea-container {
        position: relative;
        width: 100%;
        height: 150px;
        box-sizing: border-box;
        transition: all 0.35s ease-in-out;
        .z-textarea {
            width: 100%;
            height: 150px;
            padding: 4px 11px;
            box-sizing: border-box;
            resize: none;
            outline: 0;
            border: 1px solid $--color-gray;
            border-radius: 5px;
            font-family: Microsoft YaHei;
            &:focus {
                border-color: $--color-blue;
            }
        }
        .z-buttons {
            position: absolute;
            bottom: 4px;
            right: 10px;
            .z-sureBtn {
                @extend %btn;
                background-color: $--color-blue;
                color: $--color-white;
            }
            .z-resetBtn {
                @extend %btn;
                background-color: $--color-white;
                color: $--color-black;
                &:hover {
                    color: $--color-blue;
                }
            }
        }
    }
}