$--color-blue: #3d9cff !default;
$--color-gray: #ced6e0 !default;
$--color-black: rgba(0, 0, 0, 0.65) !default;
$--color-white: #fff !default;
$--color-deepGray: #999 !default;
$--color-lightBlack: #333 !default;
$--color-lightWhite: #fafafa !default;
$--color-deepWhite: #d9d9d9 !default;